.standingTable {
  margin: 30px auto;
  width: 90%;
}

.standingTable table {
  width: 100%;
  border-collapse: collapse;
}

.standingTable th,
.standingTable td {
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.standingTable th {
  background-color: #000;
  color: #ffe221;
}

.standingTable td {
  background-color: #f8f9fa;
  color: #333;
}

.standingHead {
  text-align: center;
  color: black;
  margin: 30px 0;
}

.wpos td {
  background-color: #77ff21;
  color: #000;
}

.pos td {
  background-color: #ff7b21;
  color: #000;
}

.standingTable .standingCol {
  border-bottom: 1px solid #fff;
}

.standingTable .wpos:hover {
  background-color: #4caf50;
  color: #fff;
}

.standingTable .pos:hover {
  background-color: #ff5722;
  color: #fff;
}
